src/ecrc-api/src/main/resources/schemas/CreateApplicant.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="ResponseCode"/>
        <xs:element type="xs:string" name="Message"/>
        <xs:element type="xs:int" name="PartyId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
