src/ecrc-api/src/main/resources/schemas/GetProvinceList.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetProvinceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Provinces">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Province" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Message"/>
        <xs:element type="xs:byte" name="ResponseCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>